
.container{
  width:700px;
  margin:auto;
  text-align:center;
  font-family:Arial;
}

.form input{
  margin:5px;
  padding:8px;
}

button{
  padding:8px 15px;
  background:#007bff;
  color:white;
  border:none;
  cursor:pointer;
}

.delete{
  background:red;
}

table{
  width:100%;
  margin-top:20px;
  border-collapse:collapse;
}

th,td{
  border:1px solid #ccc;
  padding:10px;
}
